#caixaDeTexto {
    background-color:black;
    color: red;
    border-color: red;
    position:absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 30vh;
    outline: red;
    opacity: 1;
    transition: opacity, 2s;
}